.bg3 {
  background-image: url(../img/theme/welcome/chief-1.jpg);
}

.bg2 {
  background-image: url(../img/theme/background/cpise.jpg);
}

div.wrapper.acc.pa.zim.slide-title-block{
	color: #ad890c;
}
a.link.fz3.lh22.ttu.fw3.lss{
	color: #ad890c;
}