{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
<style>
    body{
    	border-top: 4px solid #999;
        background: url('{% static "img/bg-food-4.jpg" %}') no-repeat
        center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-color: white; -webkit-text-fill-color: black;" >

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
		<img src="{% static 'img/banner_4309_white.jpg' %}" class ="first-slide" alt="First slide"/>
          <div class="container">
            <div class="carousel-caption">
              <div class="col-sm-6">
        <h1>Мультиварки MARTA</h1>
        <p>Скороварка MARTA 4309
										скоро в Израиле.</br>
										Теперь она готовит, 
										а вы отдыхаете!
										45 автоматических прорамм,
										функция шеф-про и готовка под давлением.</p>
        <p><a class="btn btn-default btn-lg btn-block" href="#signup"role="button">Узнать первым. &raquo;</a></p>
        </div> 

            </div>
          </div>
        </div>
        <div class="item">
        <img src="{% static 'img/banner_4301_blek gold.jpg' %}" class ="first-slide" alt="Second slide"/>

          <div class="container">
            <div class="carousel-caption">
                            <div class="col-sm-6">
        <h1>Мультиварки MARTA</h1>
        <p>Мультиварка MARTA 4301
										скоро в Израиле.</br>
										Теперь она готовит, 
										а вы отдыхаете!
										45 автоматических прорамм</p>
										
        <p><a class="btn btn-default btn-lg btn-block" href="#signup"role="button">Узнать первым. &raquo;</a></p>
        </div> 
            </div>
          </div>
        </div>
        <div class="item">
                  <img src="{% static 'img/banner_4301_white-ss.jpg' %}" class ="first-slide" alt="Third slide"/>
          <div class="container">
            <div class="carousel-caption">
            <div class="col-sm-6">
        <h1>Мультиварки MARTA</h1>
        <p>Мультиварка MARTA 4301
										скоро в Израиле.</br>
										Теперь она готовит, 
										а вы отдыхаете!
										45 автоматических прорамм</p>
										
        <p><a class="btn btn-default btn-lg btn-block" href="#signup"role="button">Узнать первым. &raquo;</a></p>
        </div>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div> 

	<div class='container' style='text-align:center;color:black; ' id="signup" >
	<div class='col-sm-6 col-sm-offset-3'>
	<i class="fa fa-unlock fa-5x"></i>
	  <h1>Получить книгу рецептов!</h1>

	  <form class='form-horizontal' method="POST" action=""> {% csrf_token %}
	    <div class='form-group form-group-lg'>
	        {% if form.email.errors %}
	     	{% for err in form.email.errors %}
	    	<div class="alert alert-danger" role="alert">{{ err }}</div>
	    	<div class="alert alert-danger" role="alert">Your Email is required</div>
	    {% endfor %}
	    {% endif %}
	     
	          <div class="input-group">
	        <input class='form-control' type="email" name="email" placeholder="Your email..." />
	            <span class='input-group-btn'>
	          <input type='submit' value='Join' class='btn btn-primary btn-lg' />
	          </span>
	        </div>
	    </div>
	  </form>
	  <p class='lead'>Оставь email. <br/> Будь в курсе!</p>
	</div>
</div>




	    <div class="row featured-row">
	    	<div class="col-sm-12">

	    		<div class="col-sm-3">
		    		<i class="fa fa-check-square-o fa-3x"></i>
		    		<h2>What is?</h2>
		    		<p class="lead">
		    		Multicooker MARTA is a modern miracle of technology. 
		    		</p>
	    	    </div>
	    	    <div class="col-sm-3">
		    		<i class="fa fa-check-square-o fa-3x"></i>
		    		<h2>Multicook</h2>
		    		<p class="lead">
		    		Any dish can be cooked by a manually-specified temperature and time settings with Multicook. 
		    		</p>
	    	    </div>
	    	    <div class="col-sm-3">
		    		<i class="fa fa-check-square-o fa-3x"></i>
		    		<h2>3D Keep warm</h2>
		    		<p class="lead">
		    		Thanks to 3D-Keep warm technology, meals are cooked by all sides that will provide the best taste and faster cooking.

		    		</p>
	    	    </div>
	    	    <div class="col-sm-3">
		    		<i class="fa fa-check-square-o fa-3x"></i>
		    		<h2>CHIEF-cooker</h2>
		    		<p class="lead">
		    		The unique function allows you to change the temperature setting and time right at the time of cooking.
		    		</p>
	    	    </div>
		    </div>
		</div>



 
{% endblock %}	