{% load staticfiles %}

	<section role="main" class="sections-container">
		<section class="section-fix js-first-screen first-screen-section">
			<div class="wrapper fullheight">
				<div class="row nogutter fullwidth">
					<div class="column large-12">
						<div class="slider wrapper owl component mainslider js-main-slider" data-config='{"items": 1, "smartSpeed": 1000}'>
							<div class="slide">
								<div class="wrapper fullwidth fullheight pa">
									<div class="wrapper acc pa zim slide-title-block">
										<h3 class="text ff2 fz10 fw1 lss cw ac slidertext">Мультиварки МАРТА</h3>
										<p class="text ff2 fw3 cw ac lss slidertext">Мы готовим, а вы отдыхаете.</p>
									</div>
								</div>
					
								<img src="{% static 'img/theme/slider/shutterstock_111610325.jpg' %}" class ="image" alt="Second slide"/>
							</div>
							<div class="slide">
								<div class="wrapper fullwidth fullheight pa">
									<div class="wrapper acc pa zim slide-title-block">
										<h3 class="text ff2 fz10 fw1 lss cw ac slidertext">Мультиварки МАРТА</h3>
										<p class="text ff2 fw3 cw ac lss slidertext">Спасите свое время.</p>
									</div>
								</div>
                                <img src="{% static 'img/theme/slider/shutterstock_113265010.jpg' %}" class ="image"/>
							</div>
							<div class="slide">
								<div class="wrapper fullwidth fullheight pa">
									<div class="wrapper acc pa zim slide-title-block">
										<h3 class="text ff2 fz10 fw1 lss cw ac slidertext">Мультиварки МАРТА</h3>
										<p class="text ff2 fw3 cw ac lss slidertext">Самое вкусное и полезное для вашей семьи.</p>	
									</div>
								</div>
								<img src="{% static 'img/theme/slider/shutterstock_135075155.jpg' %}" class ="image"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
